{% extends 'sitebase.html.twig' %}

{% block title %}Séances{% endblock %}

{% block nom_user %}{{ user.first_name }}{% endblock %}

{% block main %}
	<section class="section-cover">
		<h1 class="cover-text">Hello {{ user.first_name }} !</h1>
		<h3 class="cover-text"><i class="fa fa-film"></i></h3>
		<h2 class="cover-text">Ne manquez pas <br/>notre sélection du {{ "now"|date("d/m") }} </h2>
		<button type="button" class="go-all-seances"><i class="fa fa-angle-double-down"></i></button>
	</section>
	<section id="debut-page" class="section-site section-all-seances">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="zywiec">
					<h3>Envie particulière ?</h3>
					<div class="seance-form-recherche">
						<div class="input-with-icon">
							<input type="text" class="search-film" placeholder="Un mot clef ?"/>
							<button type="button" class="float-button-search"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<h3>Une exigeance ?</h3>
					<div class="seance-form-recherche">
						<div class="input-with-icon">
							<select>
								<option>Toutes les séances</option>
								<option>Séances gratuites</option>
								<option>Séances payantes</option>
							</select>
							<i class="fa fa-sort-desc"></i>
						</div>
					</div>
					<h3>Quand vous voulez !</h3>
					<div class="seance-form-recherche">
						<div class="input-with-icon">
							<input type="date" class="search-date" value="{{ "now"|date("Y-m-d") }}"/>
							<button type="button" class="float-button-search"><i class="fa fa-calendar"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="seance-column seance-proximite">
					<h3>Séances à proximité:</h3>
					<div class="row agaga">
						{% for seance in freeSeances %}
							<div class="seance-block col-lg-3 col-md-4 col-sm-4 col-xs-6">
								<div class="seance-layout" data-seance="{{ seance.id }}">
									<img src="{{ seance.id_film.image }}" alt="affiche"/>
									<div class="seance-description">
										<div class="seance-description-titre">{{ seance.id_film.title }}</div>
										<div class="seance-description-category"><label>Categorie:</label> {{ seance.id_film.category }}</div>
										<div class="seance-description-resume">{{ seance.id_film.description }}</div>
										<div class="seance-description-horaires">
											<i class="fa fa-calendar"></i>
											{{ seance.start_seance }}<br/>
											<i class="fa fa-calendar"></i>
											{{ seance.end_seance }}
										</div>
										<div class="seance-description-places">
											{{ seance.nbr_place }} places restantes
										</div>
										<div class="seance-description-auteur">
											Postée par: {{ seance.id_organizer.first_name }} {{ seance.id_organizer.last_name }}
										</div>
									</div>
									<div class="seance-titre-film">	
										<div class="seance-prix-seance">
											{{ seance.price }}€
										</div>
									</div>
								</div>
							</div>
					   {% endfor %}
					   {% for seance in paidSeances %}
							<div class="seance-block col-lg-3 col-md-4 col-sm-4 col-xs-6">
								<div class="seance-layout" data-seance="{{ seance.id }}">
									<img src="{{ seance.id_film.image }}" alt="affiche"/>
									<div class="seance-description">
										<div class="seance-description-titre">{{ seance.id_film.title }}</div>
										<div class="seance-description-category"><label>Categorie:</label> {{ seance.id_film.category }}</div>
										<div class="seance-description-resume">{{ seance.id_film.description }}</div>
										<div class="seance-description-horaires">
											<i class="fa fa-calendar"></i>
											{{ seance.start_seance }}<br/>
											<i class="fa fa-calendar"></i>
											{{ seance.end_seance }}
										</div>
										<div class="seance-description-places">
											{{ seance.nbr_place }} places restantes
										</div>
										<div class="seance-description-auteur">
											Postée par: {{ seance.id_organizer.first_name }} {{ seance.id_organizer.last_name }}
										</div>
									</div>
									<div class="seance-titre-film">
										<div class="seance-prix-seance">
											{{ seance.price }}€
										</div>
									</div>
								</div>
							</div>
					   {% endfor %}
				    </div>
				</div>
				
				<div class="seance-column seance-proximite">
					<h3>Séances gratuites:</h3>
					<div class="row agaga">
						{% for seance in freeSeances %}
							<div class="seance-block col-lg-3 col-md-4 col-sm-4 col-xs-6">
								<div class="seance-layout" data-seance="{{ seance.id }}">
									<img src="{{ seance.id_film.image }}" alt="affiche"/>
									<div class="seance-description">
										<div class="seance-description-titre">{{ seance.id_film.title }}</div>
										<div class="seance-description-category"><label>Categorie:</label> {{ seance.id_film.category }}</div>
										<div class="seance-description-resume">{{ seance.id_film.description }}</div>
										<div class="seance-description-horaires">
											<i class="fa fa-calendar"></i>
											{{ seance.start_seance }}<br/>
											<i class="fa fa-calendar"></i>
											{{ seance.end_seance }}
										</div>
										<div class="seance-description-places">
											{{ seance.nbr_place }} places restantes
										</div>
										<div class="seance-description-auteur">
											Postée par: {{ seance.id_organizer.first_name }} {{ seance.id_organizer.last_name }}
										</div>
									</div>
									<div class="seance-titre-film">	
										<div class="seance-prix-seance">
											{{ seance.price }}€
										</div>
									</div>
								</div>
							</div>
					   {% endfor %}
				    </div>
				</div>
				<div class="seance-column seance-proximite">
					<h3>Séances payantes:</h3>
					<div class="row agaga">
						{% for seance in paidSeances %}
							<div class="seance-block col-lg-3 col-md-4 col-sm-4 col-xs-6">
								<div class="seance-layout" data-seance="{{ seance.id }}">
									<img src="{{ seance.id_film.image }}" alt="affiche"/>
									<div class="seance-description">
										<div class="seance-description-titre">{{ seance.id_film.title }}</div>
										<div class="seance-description-category"><label>Categorie:</label> {{ seance.id_film.category }}</div>
										<div class="seance-description-resume">{{ seance.id_film.description }}</div>
										<div class="seance-description-horaires">
											<i class="fa fa-calendar"></i>
											{{ seance.start_seance }}<br/>
											<i class="fa fa-calendar"></i>
											{{ seance.end_seance }}
										</div>
										<div class="seance-description-places">
											{{ seance.nbr_place }} places restantes
										</div>
										<div class="seance-description-auteur">
											Postée par: {{ seance.id_organizer.first_name }} {{ seance.id_organizer.last_name }}
										</div>
									</div>
									<div class="seance-titre-film">	
										<div class="seance-prix-seance">
											{{ seance.price }}€
										</div>
									</div>
								</div>
							</div>
					   {% endfor %}
				    </div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="zywiec">
					<h3>Réseaux sociaux</h3>
					<button type="button" class="button-share button-share-fb">Partager sur Facebook<i class="fa fa-facebook"></i></button>
					<button type="button" class="button-share button-share-tw">Partager sur Twitter<i class="fa fa-twitter"></i></button>
					<button type="button" class="button-share button-share-gp">Partager sur Google +<i class="fa fa-google-plus"></i></button>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function(){

			$('.barre-nav').css("opacity", 0);

			$('.agaga').slick({
				dots: false,
				infinite: true,
				speed: 300,
				slidesToShow: 3,
				autoplay: true,
  				autoplaySpeed: 5000,
				centerMode: true
			});

			$('.slick-prev').html('<i class="fa fa-angle-left"></i>');
			$('.slick-next').html('<i class="fa fa-angle-right"></i>');

			$('body').on('click', '.go-all-seances', function(){
				scroller('#debut-page');
			});

			$('.seance-layout').mouseover(function(){
				$("body").css("overflow","hidden");
			}).mouseout(function(){
				$("body").css("overflow","auto");
			});

			setTimeout(function(){
				resizeHome();
				$('.seance-titre-film').css("height", "0");
				$('.seance-titre-film').css("padding", "0");
			}, 800);

		});
	</script>
{% endblock %}